body {
    background-color: antiquewhite;
    color: white;
    background-image: url(thumb_1_servidoriniciante.png);
    background-image: image-set(absolute);
    background-size:cover;
    background-attachment: fixed;
    
}

header {
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

section {
    text-align: center;
    background-color: antiquewhite;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 600px;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    
}

.div {
    font-size: 20px;
    margin-left: 0%;
}

.primeiro {
    text-align: left;
}

.segundo {
    text-align: left;
}

.terceiro {
    text-align: left;
}

input#comm {
    width: 500px;
    font-size: 15px;
    padding: 10px;
}

input#nome , input#email , input#idade , input#ocupação , datalist#ocup , input#função {
    border-radius: 20px;
    font-size: 15px;
    width: 500px;
    height: 25px;
    padding-left: 15px;
}    

.botão {
    background-color: black;
    color: antiquewhite;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 50px;
    width: 200px;
    border-radius: 5px;
    font-size: 20px;

}

.divbotão {
    padding: 15px;
}

footer {
    position: absolute;
    margin-left: 48%;
    font-size: 20px;
    padding: 10px;
}